@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

:root {
    --color-green: #65E4A3;
    --color-black: #080809;
    --dark-blue: #0A2640;
    --blue-opacity: #3C64B1;
    --color-purple: #BB6BD9;
    --color-orange: #F2994A;
    --company-grey: #777777;
    --darker-grey: #3D3D3D;
    --color-grey: #4F4F4F;
    --light-grey: #F2F2F2;
    --color-blue: #0077B5;
    --light-blue: #2D9CDB;
    --color-red: #EB5757;
    --faint-blue: #F2F8FB;
    --color-comet: #5E6282;
}

body {
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    margin: 10px 8%;
}

h4 {
    font-size: 1.1rem;
    color: var(--color-blue);
}

h3, p {
    color: var(--color-grey);
    line-height: 160%;
}

a {
    text-decoration: none;
    color: var(--color-grey);
}
ul {
    display: flex;
    justify-content: space-between;
}
li {
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    color: var(--color-grey);
}


button {
    color: #fff;
    font-size: 0.7rem;
    font-weight: 500;
    font-family: 'DM Sans';
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--color-blue);
}
button:hover {
    background-color: var(--light-blue);
}



/* utility classes */

/* the active class creation */
.active {
    position: relative;
}
.active::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 12%;
    display: block;
    border-radius: 20px;
    bottom: -9%;
    left: 20%;
    background: var(--color-blue);
}






.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0;
    padding: 1% 8%;
    background-color: #fff;
    z-index: 10000000;
}

.navigation .logo-container {
    max-width: 200px;
}

.navigation .logo-container img {
    width: 100%;
}

.navbar {
    width: 40%;
}

.navbar li::after {
    content: "";
    position: absolute;
    top: 19px;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    display: block;    
    border-radius: 30px;
    background: var(--color-blue);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar li:hover::after {
    left: 20%;
    width: 60%;
}

.dropdowns {
    position: fixed;
    top: 10%;
    width: 100%;
    z-index: 1;
}
.drop1,
.drop2,
.drop3
 {
    display: none;
}
.display {
    display: block;
}
.drop1 ul,
.drop2 ul,
.drop3 ul
 {
    position: absolute;
    left: 38%;
    flex-direction: column;
    padding: 20px;
    padding-left: 5%;
    border-radius: 20px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 20px rgba(124, 122, 122, 0.2));
}
.drop2 ul {
    left: 59%;
}
.drop1 li,
.drop2 li,
.drop3 li
 {
    padding: 10px;
    margin: 2% 0;
}
.drop1 ul hr,
.drop2 ul hr,
.drop3 ul hr
 {
    width: 100%;
}
.drop1 h5,
.drop2 h5,
.drop3 h5
 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-blue);
}
.drop1 p,
.drop2 p,
.drop3 p
 {
    font-size: 0.6rem;
}
.port,
.ware,
.network,
.consult
 {
    position: relative;
}
.port::before,
.ware::before,
.network::before,
.consult::before {
    content: url(/img/home-page/it-dropdown.png);
    position: absolute;
    top: 20%;
    left: -25%;
    zoom: 20%;
}
.ware::before {
    content: url(/img/home-page/software-dropdown.png);
}
.network::before {
    content: url(/img/home-page/network-dropdown.png);
}
.consult::before {
    content: url(/img/home-page/consultancy-dropdown.png);
}


.blog,
.about,
.career,
.contact
 {
    position: relative;
}
.blog::before,
.about::before,
.career::before,
.contact::before {
    content: url(/img/home-page/blog-dropdown.png);
    position: absolute;
    top: 20%;
    left: -30%;
    zoom: 20%;
}
.about::before {
    content: url(/img/home-page/about-dropdown.png);
}
.career::before {
    content: url(/img/home-page/career-dropdown.png);
}
.contact::before {
    content: url(/img/home-page/contact-dropdown.png);
}




/* quote section */

.quote-sect {
    position: absolute;
    top: -2%;
    left: 17%;
    width: 50%;
    height: 100vh;
    border-radius: 20px;
    z-index: 10000000;
    display: none;
}
.quote-display {
    display: block;
}
.quote-sect form {
    margin-top: 20%;
    background-color: #fff;
    border-radius: 20px;
    height: 105vh;
    filter: drop-shadow(0px 4px 20px rgba(124, 122, 122, 0.2));
}
.quote-sect::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    margin: 0;
    width: 1000%;
    height: 600vh;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
}
.form-header {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--color-blue);
}
.close-btn {
    cursor: pointer;
    margin-right: 4%;
}
.form-header h1 {
    margin-left: 4%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Montserrat';
    position: relative;
}
.form-control {
    margin: 5%;
}
.form-control input {
    border: none;
    font-family: 'DM Sans';
    padding: 2% 3%;
    width: 100%;
    margin: 2% 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
}
.email-phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.email-phone input {
    width: 48%;
}
.form-control .container {
    margin: 1% 0;
    width: 100%;
}
.form-control .select {
    width: 100%;
    font-size: 0.9rem;
    color: #3D3D3D;
    border: none;
    padding: 2.5%;
    font-weight: 100;
    border-radius: 10px;
    padding-left: 3%;
    text-align: left;
    background: rgba(0, 0, 0, 0.08);
    position: relative;
}
.options {
    display: none;
    width: 90%;
    margin-top: 1%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
}
.options-display {
    display: block;
}
.form-control .select::after {
    content: url(/img/home-page/select-arrow.png);
    position: absolute;
    top: 41%;
    left: 93%;
    zoom: 20%;
    cursor: pointer;
}
.item {
    cursor: pointer;
    padding: 1.2%;
    padding-left: 4%;
}
.item:not(:last-child) {
    border-bottom: 1px solid #BDBDBD;
}
.item:hover {
    background: rgba(0, 0, 0, 0.05);
}
/* custom select button */

/* end */
.form-control textarea {
    width: 100%;
    border: none;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: rgba(0, 0, 0, 0.05);
}




/* hero-section */

.hero-section {
    margin-top: 10%;
}
.hero {
    display: flex;
    align-items: center;
}
.hero-text h2 {
    width: 80%;
    color: var(--color-blue);
    font-size: 3.5rem;
    line-height: 71px;
    font-weight: 600;
}
.hero-text p {
    width: 75%;
    font-size: 1rem;
    line-height: 180%;
}
.hero img {
    width: 43%;
}

.icon-container {
    margin: 7% 0;
    margin-left: -1%;
    width: 101%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-container img {
    width: 10%;
}
.icon-container img:nth-child(4) {
    width: 3%;
}



/* about section */

.about-section {
    margin: 0;
    display: flex;
    padding: 8%;
    background: var(--light-grey);
}

.about-text {
    margin-top: 2%;
    margin-left: 2%;
}
.about-text h4 {
    color: var(--color-blue);
    margin-bottom: 1%;
}
.about-text h3,
.about-text p
 {
    color: var(--darker-grey);
}
.about-text h3 {
    font-size: 2.2rem;
}
.about-text p {
    font-size: 1rem;
    width: 70%;
    line-height: 180%;
    letter-spacing: 0.005em;
    text-align: justify;
}

.about-image img {
    width: 101%;
}



/* service section */


.services-section {
    display: flex;
    align-items: center;
}

/* the left side of the service text */
.text-container {
    width: 44%;
}
.text-container h4 {
    margin-bottom: 2%;
    color: var(--color-blue);
}
.text-container h3 {
    width: 100%;
    font-size: 2.2rem;
    color: var(--darker-grey);
}
.text-container p {
    width: 100%;
    margin: 2% 0 5% 0;
}


/* the right side of the service text */




.services-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.services-container div {
    width: 100%;
    padding: 16% 10%;
    margin: 3% 0;
    border-radius: 20px;
}
.service img {
    width: 35%;
    margin-bottom: 2%;
}
.service h5 {
    margin: 7% 0;
}
.service p {
    font-size: 0.9rem;
    margin-bottom: 8%;
}
small {
    font-size: 0.8rem;
    cursor: pointer;
}

/* the icon after "learn more" */
.learn-more1,
.learn-more2,
.learn-more3,
.learn-more4
 {
    position: relative;
}
.learn-more1::after,
.learn-more2::after,
.learn-more3::after,
.learn-more4:after
 {
    content: url(/img/home-page/arrow-right.png);
    position: absolute;
    top: 13px;
    left: 105%;
    zoom: 25%;
}

/* background color of each service and it's corresponding "learn more" color */
.service-1 {
    background: rgba(239, 243, 245, 0.3);
}
.learn-more1 {
    color: var(--color-blue);
}
/* ----- */
.service-2 {
    background: rgba(242, 228, 255, 0.3);
}
.learn-more2 {
    color: var(--color-purple);
}
/* ----- */
.service-3 {
    background: rgba(255, 247, 239, 0.3);  
}
.learn-more3 {
    color: var(--color-orange);
    margin-top: 0;
}
/* ----- */
.service-4 {
    background: rgba(245, 228, 228, 0.3);   
}
.learn-more4 {
    color: var(--color-red);
}




/* choose section */
.choose-section {
    margin: 0;
}
.choose-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: var(--blue-opacity);
    opacity: 0.1;
    z-index: -100;
}
.choose-text {
    text-align: center;
}
.choose-text h4 {
    margin: 4% 0 1% 0;
}
.choose-text h2 {
    color: var(--darker-grey);
    font-size: 2rem;
    padding: 0 32%;
    line-height: 45px;
}


/* the choose logos */
.choose {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
}
.choose div {
    width: 40%;
    align-items: center;
    justify-content: center;
}
.choose img {
    width: 70px;
    margin-left: 21%;
}
.choose div h3 {
    margin-left: 20%;
}
.choose div p {
    width: 63%;
    text-align: center; 
}



/* customers section */

.customers {
    margin-top: 15%;
}
.customers-text {
    text-align: center;
}
.customers-text h3 {
    font-size: 1.3rem;
    margin: 2% 0;
}

.customers-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customers-icon img {
    width: 17%;
    height: 17%;
}



/* get started section */

.get-started {
    text-align: center;
    margin: 10% 8%;
    padding: 4% 0;
    line-height: 60px;
    border-radius: 20px;
    background-color: var(--faint-blue);
}



/* bottom section */

.bottom-section {
    display: flex;
}


.left {
    margin-left: 3%;
}
.left .logo {
    width: 27%;
}
.left p {
    font-size: 0.8rem;
    width: 41%;
}
.nav-icons img {
    width: 8%;
}



.right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.right h3 {
    font-family: 'Poppins';
    color: var(--color-black);
    font-weight: 700;
    margin-bottom: 20%;
}
.right ul {
    flex-direction: column;
}
.right li {
    line-height: 30px;
    font-weight: 500;
    color: var(--color-comet);
}
.careers-li {
    position: relative;
}
.careers-li::after {
    content: 'Hiring!';
    position: absolute;
    top: 0;
    left: 66%;
    padding: 2% 15%;
    font-weight: 700;
    font-family: 'Open Sans';
    color: var(--dark-blue);
    background-color: var(--color-green);
    border-radius: 20px;
}



/* footer */

footer {
    margin: 2% 0;
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-comet);
}





/******************************** service page styling  ********************************/

.service-hero {
    margin-top: 10%;
    text-align: center;
}
.service-hero h1 {
    font-size: 4rem;
    color: var(--color-blue);
}
.service-hero h3 {
    width: 50%;
    margin-top: 2%;
    font-weight: 100;
    margin-left: 25%;
}

.software {
    margin: 0;
    background-color: var(--faint-blue);
}
.software-dev {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    padding: 10%;
    padding-bottom: 5%;
}
.software-dev div {
    margin-left: 7%;
}
.software-dev img {
    width: 47%;
}
.software-dev h4 {
    font-size: 1.4rem;
    color: #3D3D3D;
    margin-bottom: 5%;
}
.software-dev p {
    width: 73%;
    text-align: left;
    font-size: 1.3rem;
    line-height: 35px;
    color: #3D3D3D;
}
.service-section button {
    margin-left: 45%;
    margin-bottom: 10%;
    padding: 17px 60px;
}



/* IT development section  */
.support {
    margin: 0;
    background-color: #fff;
}
.support div {
    margin-left: 1%;
}

.support p {
    width: 77%;
    font-size: 1.2rem;
    line-height: 35px;
    color: #3D3D3D;
}











/* Product Page */


.product-hero {
    margin: 0;
    margin-top: 5%;
    text-align: center;
}



.product-hero {
    width: 100%;
    height: 80vh;
    background-image: url(/img/product-page/product-hero.png);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.product-hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
}

.product-hero-text {
    position: absolute;
    top: 44%;
    left: 34%;
    text-align: center;
}





.product-hero-text h1 {
    color: #fff;
    font-size: 4rem;
}
.product-hero-text h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
}



.product-section {
    margin-bottom: 10%;
}
.products {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products img {
    width: 20%;
    margin-right: 7%;
}
.product-text h3 {
    font-size: 2.1rem;
    margin-bottom: 2%;
}
.product-text p {
    width: 65%;
    margin-bottom: 4%;
}










/* company page */

.company-hero {
    margin-top: 5%;
    margin-bottom: 10%;
}

.company-hero-container {
    display: flex;
    align-items: center;
}

.company-hero-container img {
    width: 40%;
    margin-right: 7%;
}

.company-hero-container div {
    margin-top: 15%;
    line-height: 70px;
    position: relative;
}
.company-hero-container h1 a {
    width: 80%;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.company-hero-container h5 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    color: var(--dark-blue);
    text-decoration-thickness: 1px;
}
.company-hero-container h5:nth-child(4) {
    color: #000;
    font-weight: 400;
    margin-left: 5%;
    position: relative;
}
.company-hero-container h5:nth-child(4)::after {
    content: url(/img/company-page/chandler-bing.png);
    position: absolute;
    top: 14%;
    left: -6%;
}
.company-hero-container span {
    position: absolute;
    top: 0.9px;
    left: 10%;
    color: var(--company-grey);
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}




/* category section  */

.category {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
}
.category img {
    width: 70%;
}
.category2 {
    margin-top: 5%;
}
.category1,
.category2
 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.category1 div,
.category2 div
 {
    position: relative;
}
.category h5 {
    margin: 1% 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
.category1 .span1,
.category2 .span2
 {
    position: absolute;
    top: 63%;
    left: 20%;
    color: var(--company-grey);
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}
.category p{
    width: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}



/* thoughts and words page */

.hero-sect {
    width: 100%;
    margin-top: 8%;
}
.hero-sect h1 {
    font-size: 3.2rem;
    font-weight: 300;
    margin-left: 3%;
    margin-bottom: 1%;
    font-family: 'Manrope';
}
.hero-sect img {
    width: 85%;
    height: 60vh;
    border-radius: 80px;
}

.icons-container {
    width: 100%;
    height: 25vh;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-container div {
    width: 30%;
}
.icons-container div ul {
    width: 85%;
}
.icons-container div img {
    width: 3%;
    margin-right: 5%;
}
.profile,
.calendar,
.business 
{
    position: relative;
}
.profile::before,
.calendar::before,
.business::before
 {
    content: url(/img/company-page/person.svg);
    position: absolute;
    top: -10%;
    left: -25%;
}
.calendar::before {
    content: url(/img/company-page/calendar.svg);
}
.business::before {
    content: url(/img/company-page/business.svg);
    left: -40%;
}



.text-sect {
    font-family: 'Open Sans';
    margin-left: 11.5%;
    line-height: 35px;
    margin-top: -4%;
}
.text-sect p {
    margin: 1.5% 0;
}
.text-sect h4 {
    all: unset;
    font-weight: 700;
    margin: 5% 0;
    padding-right: 77%;
}



















/* software development page */

.software-development-hero {
    width: 84%;
    height: 70vh;
    margin-top: 10%;
    background-image: url(/img/softwareDev-page/hero.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.software-development-hero::before {
    content: "";
    position: absolute;
    top: 21%;
    width: 84%;
    height: 68%;
    border-radius: 20px;
    background: rgba(51, 51, 51, 0.6);
    z-index: 0;
}

.development-hero-text {
    position: absolute;
    top: 47%;
    left: 30%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}



.services-category {
    margin: 8% 0;
}
.service-category1,
.service-category2
 {
    margin: 5% 0;
    display: flex;
    /* align-items: center; */
}
figure {
    width: 40%;
    text-align: center;
}
figure img {
    width: 18%;
    margin: 2% 0;
}
figure h3 {
    color: var(--color-blue);
}
figcaption {
    padding: 0 25%;
    font-size: 0.7rem;
}



.how-we-deliver {
    margin: 0;
    padding: 7% 10%;
    display: flex;
    background: var(--light-grey);
    justify-content: space-between;
}

.how-we-deliver div {
    margin: 0 2%;
}
.how-we-deliver h3 {
    color: var(--color-blue);
    line-height: 42px;
    font-family: 'Montserrat';
}
.how-we-deliver p {
    width: 97%;
}


.banner {
    margin: 0;
    padding: 2%;
    text-align: center;
    background: var(--color-blue);
}
.banner h2 {
    padding: 1%;
    padding-bottom: 2%;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat';
}
.banner p {
    color: #fff;
    padding: 0 31%;
    font-size: 0.8rem;
    font-weight: 300;
}



/* it support page */

.it-support {
    background-image: url(/img/itSupport-page/hero.png);
}
.it-support-text {
    margin-left: 10%;
}
.it-support-category {
    margin: 3% 0;
    padding: 3% 8%;
    background: var(--light-grey);
}
.it-support-category img {
    width: 10%;
}
.it-support-category h3 {
    color: #000;
}
.support-hero {
    text-align: center;
    margin-bottom: -2%;
}
.support-hero h3 {
    font-size: 1.5rem;
    color: var(--color-blue);
    font-family: 'Montserrat';
}
.support-hero p {
    font-size: 0.6rem;
}






/* network and security page */


.network-and-security {
    background: url(/img/networkSecurity-page/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.network-and-security::before {
    top: 20.5%;
}

.network-category img {
    width: 10%;
}
.network-category h3 {
    font-size: 1rem;
    padding: 1% 20%;
}

.network-security-text {
    margin: 5% 0;
    padding: 10% 10% 10% 9%;
    display: flex;
    background: var(--light-grey);
}
.network-security-text div {
    width: 100%;
}
.network-security-text h3 {
    margin: 1% 0;
    color: var(--color-blue);
}
.network-security-text p {
    font-size: 0.9rem;
}
.network-security-text ul {
    flex-direction: column;
    padding-left: 5%;
}
.network-security-text li {
    line-height: 30px;
    position: relative;
    padding-left: 1%;
    align-items: center;
}
.network-security-text li::before {
    content: url(/img/networkSecurity-page/marker.svg);
    position: absolute;
    top: 10%;
    left: -3%;
}




/* consultancy page */

.consultancy-hero {
    display: flex;
    margin-top: 10%;
}
.consultancy-hero img {
    width: 80%;
}
.consultancy-hero div:nth-child(2) {
    margin-left: -4%;
}
.consultancy-hero h3 {
    margin-top: 10%;
    font-size: 2.5rem;
    color: var(--color-blue);
}
.consultancy-hero p {
    width: 70%;
    line-height: 30px;
    font-size: 0.9rem;
}


.consultancy-banner {
    height: 45vh;
    margin: 5% 0;
    display: flex;
    align-items: center;
    background: var(--color-blue);
    position: relative;
}
.consultancy-banner img {
    position: absolute;
    width: 30%;
    top: 15%;
    left: 40%;
}
.consultancy-banner p {
    color: #fff;
    margin-top: 3%;
    width: 33%;
    margin-left: 20%;
}


.consultancy3 {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}
.consultancy3 div:not(:last-child) {
    margin-right: 5%;
}
.consultancy3 h3 {
    margin: 1% 0;
    font-weight: 600;
    font-family: 'Montserrat';
    color: var(--color-blue);
}
.consultancy3 p {
    font-size: 0.9rem;
}
.consultancy3 ul {
    margin-left: 6%;
    margin-top: 5%;
    flex-direction: column;
}
.consultancy3 li {
    font-weight: 500;
    list-style-type: disc;
}



/* sales rep page */

.sales-rep-hero {
    background-image: url(/img/product-page/salesrep/salesrephero.png);
    height: 50vh;
}

.sales-hero-text {
    zoom: 70%;
    top: 27%;
    left: 5%;
    line-height: 50px;
    text-align: center;
}

.sales-rep-hero::before {
    all: unset;
}

.sales-hero-text h1 {
    font-family: 'Montserrat';
}
.sales-hero-text h3 {
    padding: 2% 27%;
}


.salesrep figcaption {
    padding: unset;
}
.salesrep-category ul {
    padding-left: 5%;
    flex-direction: column;
}
.salesrep-category li {
    line-height: 20px;
    list-style: disc;
    text-align: left;
}
.salesrep-category img {
    width: 13%;
    margin-left: -40%;
}
.salesrep-category h3 {
    font-family: 'Montserrat';
    padding: 1% 0% 1% 23%;
    text-align: left;
}
.sales-button {
    margin: 5% 45%;
}











.biro-hero {
    background-image: url(/img/product-page/biro/birohero.png);
    height: 60vh;
}

.biro-category img {
    width: 15%;
    margin: 0;
    margin-left: -12%;
}
.biro-category h3 {
    text-align: unset;
    margin-left: -35%;
}

.fifth-figure {
    margin-left: 12%;
}
.fifth {
    width: 120%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}




/* hotel rep pages */

.hotel-rep-hero {
    background-image: url(/img/product-page/hotelrep/hero.png);
    background-size: cover;
    height: 70vh;
}
.hotel-hero-text {
    zoom: 70%;
    top: 37%;
    left: 5%;
    line-height: 50px;
    text-align: center;
}
.hotel-rep-hero::before {
    all: unset;
}
.hotel-hero-text h1 {
    font-size: 4rem;
    font-family: 'Montserrat';
}
.hotel-hero-text h3 {
    padding: 2% 26%;
}
.hotelrep-category img {
    width: 13%;
    margin-left: -15%;
}




/* store rep page */

.storerep-hero {
    background-image: url(/img/product-page/storerep/hero.png);
    background-size: cover;
    height: 60vh;
    zoom: 100%;
}
.store-hero-text h3{
    padding: 2% 26%;
}
.storerep-category {
    margin-left: 10%;
}
.storerep-category div {
    width: 100%;
    justify-content: space-between;
}



/* company about us page */
.about-us-hero-section {
    margin: 8%;
}
.about-us-hero-section h2 {
    font-size: 2rem;
    text-align: center;
    padding: 0 25%;
    color: var(--darker-grey);
}
.about-us-hero-section div {
    width: 100%;
}
.flex-row {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-row div {
    margin-top: 0;
}
.flex-row .about-image {
    width: 80%;
    margin-top: 1%;
    margin-right: 10%;
}
.flex-row p {
    padding-right: 112px;
    line-height: 30px;
}
.flex-row h4 {
    font-size: 1.3rem;
    margin: 2% 0;
    font-weight: 500;
}

.about-us-choose::before {
    background-color: unset;
}

.about-us-goals {
    margin: 10% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-us-goals img {
    width: 30%;
    height: 50vh;
}
.partners {
    margin: 10% 10%;
    text-align: center;
}
.partners h3 {
    font-size: 1.3rem;
    margin-bottom: -5%;
    color: var(--color-blue);
}




/* careers page */

.careers-hero {
    background-image: url(img/company-page/careers/hero.png);
}
.careers-hero::before {
    all: unset;
}
.career-hero-text {
    top: 32%;
    left: 10%;
    padding: 0%;
    padding-bottom: 3%;
    background: rgba(255, 255, 255, 0.9);
}
.career-hero-text h1 {
    text-align: left;
    font-family: 'Montserrat';
    padding: 3% 10% 7% 4%;
    color: var(--darker-grey);
    font-size: 2.8rem;
    font-weight: 600;
}
.career-hero-text button {
    margin-left: -70%;
}

.careers-category {
    align-items: center;
}
.careers-category p {
    text-align: left;
    padding: 0 10%;
}
.careers-category h3 {
    padding: 2% 0;
    text-align: left;
    margin-left: 10%;
}


.career-table {
    margin: 5% 0;
    padding: 2% 10%;
    text-align: center;
    background: var(--light-grey);
}
.career-table div {
    
}
.career-table th, td {
    text-align: left;
}
.career-table tr {
    background-color: #FFFFFF;
}
.career-table table {
    width: 100%;
    height: 20vh;
    padding-bottom: 6%;
    border-spacing: 0px 5px;
    border-collapse: separate;
}
.career-table h3 {
    margin: 5% 0;
    color: var(--color-blue);
}
  
th, td, tr {
    padding: 2% 10px;
    padding-left: 7%;
    padding-right: 5%;
}
th {
    font-weight: 500;
    font-family: 'Montserrat';
}
.find {
    position: relative;
}
.find::after {
    content: url(/img/company-page/careers/right-arrow.png);
    position: absolute;
    zoom: 30%;
    top: 35%;
    left: 70%;
}





/* contact us page */

.map {
    margin: 0;
    margin-top: 5%;
}
.map img {
    width: 100%;
}

.get-in-touch {
    margin: 0;
    margin-top: -4%;
    margin-bottom: 10%;
    height: 110vh;
    padding: 10%;
    background-image: url(/img/company-page/contact-us/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.get-in-contacts {
    display: flex;
    justify-content: space-between;
}
.get-in-touch h2 {
    font-size: 2.3rem;
    margin-bottom: 5%;
    font-weight: 600;
    font-family: 'Montserrat';
    color: var(--color-blue);
}
.get-in-contacts form {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.get-in-contacts form input {
    width: 100%;
    padding: 3%;
    margin: 1% 0;
    border: none;
    border-radius: 10px;
}
.get-in-contacts input::placeholder,
.get-in-contacts textarea::placeholder
 {
    font-family: 'DM Sans';
}
.get-in-contacts textarea {
    border: none;
    margin-top: 1%;
    padding: 2% 3%;
    border-radius: 10px;
}
.get-in-contacts button {
    width: 35%;
    margin: 3% 0;
}

.get-in-contacts div {
    height: 35vh;
    padding: 5% 3%;
    border-radius: 10px;
    background-color: var(--color-blue);
}
.get-in-contacts div h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 10% 0;
    margin-top: -13%;
}
.get-in-contacts div p {
    font-size: 0.8rem;
    color: #fff;
    padding: 5% 0;
    padding-left: 15%;
}
.location,
.phone,
.mail
 {
    position: relative;
}
.location::after,
.phone::after,
.mail::after
 {
    content: url(/img/company-page/contact-us/location.png);
    position: absolute;
    top: 30%;
    right: 90%;
    zoom: 15%;
}
.phone::after {
    content: url(/img/company-page/contact-us/phone.png);
    top: 35%;
}
.mail::after {
    top: 35%;
    content: url(/img/company-page/contact-us/mail.png);
}